/* .content {
  margin-top: 100px;
}
h1 {
  text-align: center;
}
.header-component {
  color: #555555;
}
.support-m {
  text-align: center;
  color: #949090;
}
.wrapper {
  height: 420px;
  width: 654px;
  margin: 50px auto;
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.hobby-img {
  float: left;
  height: 420px;
  width: 327px;
}

.hobby-img img {
  border-radius: 7px 0 0 7px;
}

.hobby-info {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.hobby-text {
  height: 300px;
  width: 327px;
}

.hobby-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}

.hobby-text h1,
.hobby-price-btn p {
  font-family: "Bentham", serif;
}

.hobby-text h2 {
  margin: 0 0 47px 38px;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #949090;
  letter-spacing: 0.2em;
}

.hobby-text p {
  height: 125px;
  margin: 0 0 0 38px;
  font-family: "Playfair Display", serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.hobby-price-btn {
  height: 103px;
  width: 327px;
  margin-top: 17px;
  position: relative;
}

.hobby-price-btn p {
  display: inline-block;
  position: absolute;
  top: -13px;
  height: 50px;
  font-family: "Trocchi", serif;
  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #474747;
}

span {
  display: inline-block;
  height: 50px;
  font-family: "Suranna", serif;
  font-size: 34px;
}

.hobby-price-btn button {
  float: right;
  display: inline-block;
  height: 50px;
  width: 176px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.hobby-price-btn button:hover {
  background-color: #79b0a1;
} */

/* * {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-perspective: 2500px;
  perspective: 2500px;
  -webkit-perspective-origin: 100% 50%;
  perspective-origin: 100% 50%;
}
.wrap .girl {
  border: #fffefe 10px solid;
  background: url("https://res.cloudinary.com/malaika/image/upload/e_grayscale/v1564579524/d7isyf5-137c7a98-d161-496f-9753-f96f530be3be_1.png")
    no-repeat;
  margin-left: 0;
  width: 450px;
  height: 600px;
  bottom: 0%;
  top: 10%;
  position: absolute;
}
.wrap h1 {
  left: -5%;
  transform: rotate(-49deg);
  color: #333;
  font-size: 4em;
  font-family: Raleway, sans-serif;
  top: 25%;
  position: absolute;
}
.wrap h1 span {
  color: black;
  font-weight: 1000;
}
.wrap .list {
  width: 80%;
  height: 150vh;
  overflow-x: hidden;
  webkit-transform: rotateX(35deg) rotateY(3deg) rotateZ(27deg);
  transform: rotateX(35deg) rotateY(3deg) rotateZ(27deg);
  margin: 0 0 0 200px;
  padding: 150px 100px 500px 0;
  scrollbar-width: none;
}
.wrap .list::-webkit-scrollbar {
  display: none;
}
.wrap .list::-webkit-scrollbar {
  display: none;
}
.wrap .list::-webkit-scrollbar {
  display: block;
}
.wrap .list .item {
  filter: grayscale(100%);
  width: 30%;
  height: 400px;
  margin: 20px;
  display: inline-block;
  position: relative;
}
.wrap .list .item::after {
  content: "";
  position: absolute;
  z-index: 150;
  width: 100%;
  top: 0px;
  left: -0px;
  height: 100%;
  opacity: 0.1;
}
.wrap .list .item .img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  box-shadow: 1px 1px 50px 0 #000;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  z-index: 10;
  position: relative;
}

button {
  border: 2px solid black;
  padding: 10px;
  z-index: 9999;
  top: -300px;
  position: relative;
  display: inline;
  margin-left: -60px;
  outline: none;
}

@media only screen and (max-width: 768px) {
  .girl {
    background: url(https://res.cloudinary.com/malaika/image/upload/v1564328867/Gabriella-Wilde-PNG-HD_1_2.png)
      no-repeat cover fixed;
  }

  h1 {
    display: none;
  }
} */
