<div class="content">
  <h1 class="header-component">My refresher</h1>
  <p class="support-m"><i>I love sports, especially physical ball games.</i></p>

  <div class="wrapper">
    <div class="hobby-img">
      <img src="../../assets/images/basket.jpg" height="320" width="327" />
    </div>
    <div class="hobby-info">
      <div class="hobby-text">
        <h1>Basketball</h1>
        <h2>with friends</h2>
        <p>
          When I play basketball,<br />
          I felt refresh and<br />
          motivated.<br />
        </p>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="hobby-img">
      <img src="../../assets/images/volleyball.jpg" height="320" width="327" />
    </div>
    <div class="hobby-info">
      <div class="hobby-text">
        <h1>Volleyball</h1>
        <h2>with friends</h2>
        <p>
          Playing volleyball helps<br />
          me more active and<br />
          healthy.<br />
        </p>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="hobby-img">
      <img
        src="../../assets/images/table-tennis.png"
        height="320"
        width="327"
      />
    </div>
    <div class="hobby-info">
      <div class="hobby-text">
        <h1>Table Tennis</h1>
        <h2>with friends</h2>
        <p>
          Table tennis is one <br />
          of my stress reliever.<br />
        </p>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="hobby-img">
      <img src="../../assets/images/billiards.png" height="420" width="327" />
    </div>
    <div class="hobby-info">
      <div class="hobby-text">
        <h1>Billiard</h1>
        <h2>with friends</h2>
        <p>
          Because of playing billard<br />
          I made a lot of friends.<br />
        </p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="wrap">
  <div class="girl"></div>
  <h1 style="color:darkmagenta">My Refreshers <span>.</span></h1>
  <div class="list">
    <div class="item">
      <div
        class="img"
        style="background-image: url(../../assets/images/sample.jpg)"
      ></div>
    </div>
    <button>Basketball</button>
    <div class="item">
      <div
        class="img"
        style="background-image: url(../../assets/images/sample.jpg)"
      ></div>
    </div>
    <button>Buy Now</button>
    <div class="item">
      <div
        class="img"
        style="background-image: url(../../assets/images/sample.jpg)"
      ></div>
    </div>
    <button>Buy Now</button>
    <div class="item">
      <div
        class="img"
        style="background-image: url(../../assets/images/sample.jpg)"
      ></div>
    </div>
    <button>Buy Now</button>
  </div>
</div> -->
