<div class="header" id="header" role="banner">
  <span
    ><h1>
      &nbsp;<code color="darkmagenta">{{ "{D}" }}</code
      ><span class="dot"></span> Alingasa
    </h1>
    &nbsp;<span> - DEVELOPER</span>
  </span>
  <div class="spacer"></div>
  <ul>
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >About Me</a
      >
    </li>
    <li><a routerLink="/resume" routerLinkActive="active">Resume</a></li>
    <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
    <li><a routerLink="/hobbies" routerLinkActive="active">Hobbies</a></li>
    <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
  </ul>
</div>
