<div class="footer">
  <span>
    &nbsp;&nbsp;By : Danilo Alingasa @2020 Proudly created using
    <a href="https://angular.io/" class="angular-link" target="_blank"
      >Angular</a
    >
    <br
  /></span>
  <div class="spacer"></div>
  <!-- <div class="element">
    <img src="../../assets/images/linkedin.png" alt="Forest" style="width:4%" />
  </div> -->
  <ul>
    <li>
      <img
        src="../../assets/images/phone.png"
        alt="Forest"
        style="width:16px;"
      />
    </li>
    <li>
      <p>+639365192469</p>
    </li>
    <li>
      <img
        src="../../assets/images/skype.png"
        alt="Forest"
        style="width:16px;"
      />
    </li>
    <li>
      <p>live:.cid.a08eee29df0e2c17</p>
    </li>
  </ul>
  <ul>
    <li>
      <img
        src="../../assets/images/mail.png"
        alt="Forest"
        style="width:16px;"
      />
    </li>
    <li>
      <p>dalingasa@student.passerellesnumeriques.org</p>
    </li>
  </ul>
  <ul>
    <li>
      Follow:
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/danilo-alingasa-a727241a2/"
        target="_blank"
      >
        <img
          src="../../assets/images/linkedin.png"
          alt="Forest"
          style="width:16px;"
      /></a>
    </li>
  </ul>
</div>
