<div class="content">
  <h1 class="header-component">Internship Projects</h1>
  <div class="wrapper">
    <div class="project-img">
      <img
        src="../../assets/images/Projects/LCS.png"
        height="420"
        width="327"
      />
    </div>
    <div class="project-info">
      <div class="project-text">
        <h1>Lear Clinic System</h1>
        <h2>Fullstack Developer</h2>
        <p>
          Use to track OPD Balance, Issued Slip for<br />
          every employee in Lear, to track Vendors total <br />
          PR Amount Usage & Balance and mostly it is<br />
          used in Lear Clinic. Build using .NET Framework, MS Sql Server, JQuery
          & IIS.<br />
        </p>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="project-img">
      <img
        src="../../assets/images/Projects/LECS.png"
        height="420"
        width="327"
      />
    </div>
    <div class="project-info">
      <div class="project-text">
        <h1>Lear Employee Certification System</h1>
        <h2>Fullstack Developer</h2>
        <p>
          Skills Matrix for every employee in Lear.<br />
          It is used to track all certifications,<br />
          certified and recertified employee.<br />
          Build using .NET Framework, MS Sql Server, JQuery, IIS & Bootstrap.<br />
        </p>
      </div>
    </div>
  </div>
  <h1 class="header-component">School Projects</h1>
  <div class="wrapper">
    <div class="project-img">
      <img
        src="../../assets/images/Projects/TaskKing.PNG"
        height="420"
        width="327"
      />
    </div>
    <div class="project-info">
      <div class="project-text">
        <h1>Task King System</h1>
        <h2>Back-end Developer</h2>
        <p>
          Simple application used to <br />
          automate setting of tasking for students.<br />
          Build using Node.js, MySQL,Javascript & Jquery.<br />
        </p>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="project-img">
      <img
        src="../../assets/images/Projects/DCISM.PNG"
        height="420"
        width="327"
      />
    </div>
    <div class="project-info">
      <div class="project-text">
        <h1>DCISM Web-Based Resource Management System</h1>
        <h2>Development Lead</h2>
        <p>
          Capstone project having features:<br />
          Inventory,Borrowing and Reservation<br />
          with SMS Notification.<br />
          Build using .NET Framework, MS Sql Server, JQuery, IIS & Bootstrap.<br />
        </p>
      </div>
    </div>
  </div>
  <h1 class="header-component">Exercise Projects</h1>
  <div class="wrapper">
    <div class="project-img">
      <img
        src="../../assets/images/Projects/QurantineEP.PNG"
        height="300"
        width="327"
      />
      <iframe
        width="327"
        height="110"
        src="https://drive.google.com/file/d/1lHplh83Yx_LcbIz6q6SJaz_JqOlTjTRa/preview"
        allow="autoplay; fullscreen"
        allowfullscreen
      ></iframe>
    </div>
    <div class="project-info">
      <div class="project-text">
        <h1>Quarantine Exercise Portal</h1>
        <h2>Fullstack Developer</h2>
        <p>
          This project helps to Shuffle for Table & Tasking assignments. <br />
          Build using Laravel Framework, MySql, Apache and Bootstrap. <br />
          .<br />
        </p>
      </div>
    </div>
  </div>
</div>
