<div class="content">
  <div id="timeline-content">
    <h1>Resume</h1>

    <ul class="timeline">
      <li class="event" data-date="65Million B.C.">
        <h3>EXPERIENCE</h3>
        <h5>Application Developer 07/2019 – 04/2020</h5>
        <p>
          Lear Automotive Services (Netherlands) B.V. Philippines Branch
        </p>
      </li>
      <li class="event" data-date="2005">
        <h3>EDUCATION</h3>
        <h5>
          Certificate in Computer Technology Major in Software Development
          09/2017 – 05/2020
        </h5>
        <p>University of San Carlos Talamban, Cebu City</p>
      </li>
      <li class="event" id="date" data-date="2009">
        <h3>Core Skills</h3>
        <p></p>
        <main>
          <ul class="core-skills-list">
            <li>C#</li>
            <li>ASP.Net</li>
            <li>MS SQL</li>
            <li>Bootstrap</li>
            <li>Javascript</li>
            <li>Jquery</li>
          </ul>
        </main>
      </li>

      <li class="event" data-date="November 15, 2018">
        <h3>Other Interests</h3>

        <main>
          <ul class="other-interest-list">
            <li>PHP (Laravel)</li>
            <li>Angular</li>
            <li>Java</li>
            <li>React</li>
            <li>Node js</li>
            <li>Python</li>
            <li>MySQL</li>
          </ul>
        </main>

        <p>
          <strong
            >I believed that, the more you input the more you have
            outputs.</strong
          >
        </p>

        <p><a href="/">Dowload Full Resume</a></p>
        <p><a href="#">Dowload Full Resume</a></p>
        <p><a href="/"></a></p>
      </li>
    </ul>
  </div>
</div>
